@charset "UTF-8";
@mixin magic_absolut($top:50%,$left:50%) {
  text-align: center;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: $top;
  left: $left;
}
