@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font: inherit;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-feature-settings: "palt";
  overflow: visible;
}

// body div {
//   font-weight: 200;
// }

@media screen and (max-width: 374px) {
  html {
    font-size: 54.5%;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 65%;
  }
}

@media screen and (min-width: 767px) {
  html {
    font-size: 85%;
  }
}

body {
  position: relative;
  font-size: 1.4rem;
  color: #18141B;
  background-color: #fff;
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

header {
  width: 100%;
  height: 55px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 8px -4px rgba(0,0,0,15);
  box-sizing: border-box;
  z-index: 10;
}

a {
  color: #18141B;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.fontOswald {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 200;
}

// SP・tablet
@media screen and(max-width: 768px) {
  body {
    width: 100%;
  }
  
  .w80 {
    width: 80%;
    margin: 0 auto;
  }
  
  .w85 {
    width: 85%;
    margin: 0 auto;
  }
  
  .w90 {
    width: 90%;
    margin: 0 auto;
  }
  
  .spFontOswald {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.5px;
    font-weight: 200;
  }
  
  .spHeader {
    .inner {
      padding: 12px 20px;
      overflow: hidden;
    }
    
    .logo {
      float: left;
      cursor: pointer;

      a {
        @extend .spFontOswald;
        display: inline-block;
        font-size: 2rem;
        
        .motif {
          display: inline-block;
          width: 20px;
        }
      }
    }
    
    .menu {
      width: 30px;
      float: right;
      margin-top: 5px;
      cursor: pointer;
      position: relative;
      
      span {
        width: 30px;
        height: 2px;
        position: absolute;
        background: #979797;
        transition: .5s;
  
        &:first-child {
          top: 0;
        }
        
        &:nth-child(2) {
          top: 8px;
        }
        
        &:last-child {
          top: 16px;
        }
      }
      
      &.is-active span {
        &:first-child {
          top: 7px;
          transform: rotate(-45deg);
          transition: .5s;
        }
        
        &:nth-child(2) {
          display: none;
        }
        
        &:last-child {
          top: 7px;
          transform: rotate(45deg);
          transition: .5s;
        }
      }
    }
  
    .globalMenu {
      background: rgba(255, 255, 255, 0.80);
      
      ul {
        width: 100%;
        
        li {
          a {
            @extend .spFontOswald;
            display: block;
            padding: 20px 0;
            font-size: 1.4rem;
            line-height: 1;
            text-align: center;
            letter-spacing: .5px;
          }
        }
      }
    }
  }
  
  .pcHeader,
  .pcImg {
    display: none;
  }
  
  .pcContents {
    display: none;
  }
  
  .firstView {
    display: block;
    padding: 5% 0 30%;
    position: relative;
    
    .inner {
      overflow: hidden;
      position: relative;
      
      .titWrap {
        @extend .spFontOswald;
        display: block;
        position: absolute;
        top: 30%;
        left: 8%;
        z-index: 2;
        
        h1 {
          font-size: 3.8rem;
          line-height: 1;
        }
        
        p {
          display: inline-block;
          font-size: 2rem;
          padding-left: 2%;
        }
      }
      
      .imgWrap {
        display: block;
        font-size: 0;
        float: right;
        z-index: 1;
      }
    }
    
    .scrollIcon {
      display: block;
      width: 10%;
      @include center_x(45%);
      bottom: 8%;
    }
  }
  
  .profile {
    padding: 20% 0;
    
    .inner {
      position: relative;
      
      .imgWrap {
        margin-left: 0;
      }
      
      h2 {
        @extend .spFontOswald;
        font-size: 5rem;
        font-weight: 300;
        position: absolute;
        top: 20%;
        right: 8%;
      }
    }
    
    .intro {
      padding: 10% 0;
      font-size: 1.4rem;
      line-height: 1.75;
      text-align: center;
      letter-spacing: 0.5px;
      
      span {
        color: #C385F4;
        font-size: 1.4rem;
      }
    }
    
    h3 {
      @extend .spFontOswald;
      font-size: 3rem;
      font-weight: 300;
      letter-spacing: 0.5px;
      position: relative;
      
      &::before {
        display: inline-block;
        content: '';
        width: 30px;
        height: 30px;
        background-image: url("#{$img_path}tit_motif.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    
    .aboutMe {
      padding: 5% 0 10%;
      position: relative;
      
      &::after {
        content: '';
        display: inline-block;
        width: 40%;
        height: 1px;
        background-image: url("#{$img_path}dashed_line.png");
        background-repeat: repeat;
        background-position: left center;
        background-size: cover;
        @include center_x(50%);
        bottom: 0;
      }
      
      .text {
        padding: 5% 4% 0;
        font-size: 1.5rem;
        line-height: 1.6;
        letter-spacing: 1px;
      }
    }
    
    .worksQA {
      dl {
        padding: 10% 4% 0;
        
        dt,dd {
          padding-left: 8%;
          font-size: 1.5rem;
          letter-spacing: 1px;
          position: relative;
        }
        
        dt {
          padding-bottom: 16px;
          
          &::before {
            @extend .spFontOswald;
            display: inline-block;
            content: 'Q.';
            font-size: 2.5rem;
            font-weight: 300;
            position: absolute;
            top: -10px;
            left: 0;
          }
        }
        
        dd {
          padding-bottom: 24px;
          line-height: 1.6;
          
          &::before {
            @extend .spFontOswald;
            display: inline-block;
            content: 'A.';
            font-size: 2.5rem;
            font-weight: 300;
            position: absolute;
            top: -12px;
            left: 0;
          }
        }
      }
    }
  }
  
  .skill {
    padding-bottom: 20%;
    background: linear-gradient(transparent 6%, #F4F2F7 0%);
    position: relative;
    
    .inner {
      overflow: hidden;
      position: relative;
      
      h2 {
        @extend .spFontOswald;
        font-size: 5rem;
        font-weight: 300;
        position: absolute;
        top: 35%;
        left: 15%;
        z-index: 2;
      }
      
      .imgWrap {
        width: 70%;
        float: right;
        z-index: 1;
      }
    }
    
    .intro {
      padding: 10% 0;
      font-size: 1.4rem;
      line-height: 1.75;
      text-align: center;
      letter-spacing: 0.5px;
    }
    
    .spContents {
      ul {
        overflow-x: auto;
    
        li {
          width: 90%;
          padding: 15% 8%;
          border-top: 1px solid #18141B;
          border-bottom: 1px solid #18141B;
          background-color: #fff;
      
          &:not(:first-child) {
            margin-top: 20%;
          }
      
          &.right {
            margin-left: 10%;
            border-left: 1px solid #18141B;
            overflow-x: hidden;
          }
      
          &.left {
            border-right: 1px solid #18141B;
          }
        }
      }
    }
    
    h3 {
      @extend .spFontOswald;
      padding-bottom: 15px;
      font-size: 3rem;
      font-weight: 300;
      letter-spacing: 0.5px;
      position: relative;
      
      &::before {
        display: inline-block;
        content: '';
        width: 30px;
        height: 30px;
        background-image: url("#{$img_path}tit_motif.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    
    dl {
      dt {
        @extend .spFontOswald;
        padding-bottom:10px;
        font-size: 1.8rem;
        letter-spacing: 1px;
        font-weight: 300;
        
        &::before {
          content: "";
          width: 32px;
          height: 32px;
          display: inline-block;
          @include bg_img_style(no-repeat, center, contain);
          position: relative;
          top: 0.5em;
        }
        
        &.html5::before {
          background-image: url("#{$img_path}icon_html5.png");
        }
        
        &.css3::before {
          background-image: url("#{$img_path}icon_css3.png");
        }
        
        &.sass::before {
          background-image: url("#{$img_path}icon_sass.png");
        }
        
        &.jquery::before {
          background-image: url("#{$img_path}icon_jquery.png");
        }
        
        &.wordPress::before {
          background-image: url("#{$img_path}icon_wordpress.png");
        }
        
        &.photoshop::before {
          background-image: url("#{$img_path}icon_photoshop.png");
        }
        
        &.illustrator::before {
          background-image: url("#{$img_path}icon_illustrator.png");
        }
        
        &.sketch::before {
          background-image: url("#{$img_path}icon_sketch.png");
        }
        
        &.mac::before {
          background-image: url("#{$img_path}icon_mac.png");
        }
        
        &.git::before {
          background-image: url("#{$img_path}icon_git.png");
        }
        
        &.slack::before {
          background-image: url("#{$img_path}icon_slack.png");
        }
      }
      
      dd {
        padding-bottom: 15px;
        font-size: 1.5rem;
        line-height: 1.6;
        letter-spacing: 1px;
      }
    }
    
    .works {
      margin-top: 12%;
      text-align: center;
      
      .link {
        display: inline-block;
        font-size: 1.4rem;
        letter-spacing: .5px;
        
        .color {
          color: #C385F4;
          font-size: 1.4rem;
          font-weight: bold;
        }
      }
    }
  }
  
  .contact {
    padding: 15% 0;
    
    h2 {
      @extend .spFontOswald;
      padding-bottom: 10%;
      font-size: 4rem;
      font-weight: 200;
      text-align: center;
    }
    
    p {
      font-size: 1.5rem;
      line-height: 1.6;
      text-align: center;
      letter-spacing: 1px;
    }
    
    ul {
      width: 50%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      
      li {
        padding: 5%;
        
        a {
          display: block;
        }
      }
    }
  }
  
  .works {
    width: 100%;
    margin: 0 auto;
    padding: 10% 0 12%;
    
    .tit {
      @extend .spFontOswald;
      padding-bottom: 10%;
      font-size: 4rem;
      font-weight: 200;
      text-align: center;
    }
    
    dl {
      display: block;
      width: 90%;
      margin: 0 auto;
      font-size: 0;
      
      dt,dd {
        display: block;
      }
      
      dt {
        &:not(:first-child) {
          padding-top: 10px;
        }
        font-size: 1.2rem;
      }
      
      dd {
        .item {
          position: relative;
          border-bottom: 1px solid;
          cursor: pointer;
          
          &:after {
            content: '';
            width: 8px;
            height: 8px;
            border: 0px;
            border-bottom: solid 2px #38374f;
            border-right: solid 2px #38374f;
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -6px;
          }
          
          a {
            display: inline-block;
            width: 24px;
            height: 24px;
            cursor: pointer;
            vertical-align: middle;
          }
          
          p {
            display: inline-block;
            padding: 8px;
            font-size: 1.4rem;
            font-weight: bold;
            vertical-align: middle;
          }
        }
        
        .detail {
          display: none;
          padding: 10px 8px;
          
          p {
            margin-bottom: 8px;
            font-size: 1.2rem;
            line-height: 1.5;
            letter-spacing: 1px;
            
            .bold {
              display: block;
              font-weight: bold;
            }
            
            a {
              display: inline-block;
            }
          }
        }
        
        .open {
          display: block;
        }
      }
    }
    
    .return {
      width: 90%;
      margin: 0 auto;
      padding-top: 32px;
      text-align: right;
      
      .link {
        font-size: 1.4rem;
        position: relative;
        
        .color {
          color: #C385F4;
          font-weight: bold;
        }
      }
    }
  }
}

//PC
@media screen and(min-width: 769px) {
  body {
    width: 100%;
    margin: 0 auto;
  }
  
  .pcFontOswald {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.5px;
    font-weight: 200;
  }
  
  .spHeader,
  .spImg {
    display: none;
  }
  
  .pcHeader {
    padding: 8px 0 0;
    
    .inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 1024px;
      margin: 0 auto;
    }
  
    .logo {
      cursor: pointer;
    
      a {
        @extend .pcFontOswald;
        display: inline-block;
        font-size: 2rem;
      
        .motif {
          display: inline-block;
          width: 20px;
        }
      }
    }
    
    ul {
      display: flex;
      justify-content: space-around;
      
      li {
        padding: 0 10px;
        
        a {
          @extend .pcFontOswald;
          font-size: 16px;
          line-height: 1;
          text-align: center;
        }
      }
    }
  }
  
  .spContents {
    display: none;
  }
  
  section {
    width: 1024px;
    margin: 0 auto;
    
    .inner {
      width: 856px;
      margin: 0 auto;
      position: relative;
    }
  }
  
  h2 {
    @extend .pcFontOswald;
    font-size: 6rem;
    letter-spacing: 0.8px;
    font-weight: 200;
  }
  
  h3 {
    @extend .pcFontOswald;
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 0.5px;
    position: relative;
    
    &::before {
      display: inline-block;
      content: '';
      width: 40px;
      height: 40px;
      background-image: url("#{$img_path}tit_motif.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  
//firstView
  .firstView {
    padding: 10px 0 160px;
    
    .inner {
      font-size: 0;
      position: relative;
      display: table;
    }
    
    .titWrap {
      @extend .pcFontOswald;
      display: table-cell;
      vertical-align: middle;
      position: absolute;
      top: 32%;
      left: 0;
      z-index: 2;
  
      h1 {
        font-size: 8rem;
        line-height: 1;
      }
      
      p {
        display: inline-block;
        padding-left: 20px;
        font-size: 4rem;
      }
    }
    
    .imgWrap {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
      z-index: 1;
    }
  
    .scrollIcon {
      width: 40px;
      margin: 0 auto;
      padding-top: 30px;
    }
  }
  
//profile
  .profile {
    .imgWrap {
      width: 560px;
    }
    
    .tit {
      position: absolute;
      top: 20%;
      right: 18%;
    }
    
    .aboutMe,
    .worksQA {
      width: 640px;
      margin: 0 auto;
      padding: 64px 0 104px;
    }
    
    .aboutMe {
      position: relative;
  
      &::after {
        content: '';
        display: inline-block;
        width: 40%;
        height: 1px;
        background-image: url("#{$img_path}dashed_line.png");
        background-repeat: repeat;
        background-position: left center;
        background-size: cover;
        @include center_x(50%);
        bottom: 0;
      }
    }
      
      .intro {
        font-size: 1.2rem;
        line-height: 1.5;
        text-align: center;
      }
      
      .color {
        color: #C385F4;
      }
    
    h3 {
      padding-top: 64px;
    }
      
      .text {
        padding: 40px 0 0 64px;
        font-size: 1.2rem;
        letter-spacing: 1px;
        line-height: 1.7;
      }
  
    .worksQA {
      dl {
        padding: 56px 0 0 64px;
      
        dt,dd {
          padding-left: 8%;
          font-size: 1.2rem;
          letter-spacing: 1px;
          position: relative;
        }
      
        dt {
          padding-bottom: 24px;
        
          &::before {
            @extend .pcFontOswald;
            display: inline-block;
            content: 'Q.';
            font-size: 2.2rem;
            font-weight: 300;
            position: absolute;
            top: -10px;
            left: 0;
          }
        }
      
        dd {
          padding-bottom: 32px;
          line-height: 1.7;
        
          &::before {
            @extend .pcFontOswald;
            display: inline-block;
            content: 'A.';
            font-size: 2.2rem;
            font-weight: 300;
            position: absolute;
            top: -12px;
            left: 0;
          }
        }
      }
    }
  }
  
//skill
  .skill {
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(rgba(0, 0, 0, 0) 190px, #f4f2f7 0%);
    position: relative;
  
    .inner {
      font-size: 0;
      position: relative;
      display: table;
    }

    .tit {
      @extend .pcFontOswald;
      display: table-cell;
      vertical-align: middle;
      position: absolute;
      top: 16%;
      left: 24%;
      z-index: 2;
    }

    .imgWrap {
      display: table-cell;
      vertical-align: middle;
      width: 560px;
      z-index: 1;
    }
    
    .intro {
      padding: 80px 0 64px;
      font-size: 1.2rem;
      line-height: 1.5;
      text-align: center;
    }
    
    .pcContents {
      width: 856px;
      margin: 0 auto;
      padding-bottom: 104px;
      
      ul {
        li {
          &:not(:first-child) {
            margin-top: 64px;
          }
          
          padding: 90px;
          font-size: 1.2rem;
          line-height: 1.7;
          background-color: #fff;
          box-shadow: 0px 0px 40px 30px #f5f2f7 inset;
          
          h3 {
            padding-bottom: 16px;
          }
          
          dl {
            padding-left: 64px;
  
            dt {
              @extend .pcFontOswald;
              padding-bottom: 8px;
              font-size: 1.6rem;
              letter-spacing: 1px;
              font-weight: 300;
    
              &::before {
                content: "";
                width: 35px;
                height: 35px;
                display: inline-block;
                @include bg_img_style(no-repeat, center, contain);
                position: relative;
                top: 0.4em;
              }
    
              &.html5::before {
                background-image: url("#{$img_path}icon_html5.png");
              }
    
              &.css3::before {
                background-image: url("#{$img_path}icon_css3.png");
              }
    
              &.sass::before {
                background-image: url("#{$img_path}icon_sass.png");
              }
    
              &.jquery::before {
                background-image: url("#{$img_path}icon_jquery.png");
              }
    
              &.wordPress::before {
                background-image: url("#{$img_path}icon_wordpress.png");
              }
    
              &.photoshop::before {
                background-image: url("#{$img_path}icon_photoshop.png");
              }
    
              &.illustrator::before {
                background-image: url("#{$img_path}icon_illustrator.png");
              }
    
              &.sketch::before {
                background-image: url("#{$img_path}icon_sketch.png");
              }
    
              &.mac::before {
                background-image: url("#{$img_path}icon_mac.png");
              }
    
              &.git::before {
                background-image: url("#{$img_path}icon_git.png");
              }
    
              &.slack::before {
                background-image: url("#{$img_path}icon_slack.png");
              }
            }
            
            dd {
              padding: 0 0 20px 5px;
              font-size: 1.2rem;
              line-height: 1.7;
            }
          }
        }
      }
    }
    
    .works {
      padding: 24px 32px 0 0;
      text-align: right;
  
      .link {
        font-size: 1.2rem;
        position: relative;
        
        .color {
          color: #C385F4;
          font-weight: bold;
        }
      }
      
      .link::before {
        position: absolute;
        top: 1.2em;
        left: 0;
        content: "";
        display: inline-block;
        width: 0;
        height: 1px;
        background: #7a787b;
        transition: .5s;
      }
  
      .link:hover::before{
        width: 100%;
      }
    }
  }
  
  .contact {
    width: 300px;
    margin: 0 auto;
    padding: 104px 0;
    text-align: center;
    
    h2 {
      padding-bottom: 24px;
      font-size: 4rem;
    }
    
    .comment {
      padding-bottom: 40px;
      font-size: 1.2rem;
      line-height: 1.7;
    }
    
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      
      li {
        width: (calc 100% / 2);
      }
    }
  }
  
  .works {
    width: 720px;
    margin: 0 auto;
    padding: 64px 0 102px;
    
    .tit {
      padding-bottom: 40px;
      text-align: center;
    }
    
    dl {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      font-size: 0;
      
      dt,dd {
        display: inline-block;
        vertical-align: middle;
      }
      
      dt {
        width: 20%;
        padding: 5px 0;
        font-size: 1.2rem;
      }
      
      dd {
        width: 80%;
        
        .item {
          position: relative;
          padding-left: 5px;
          border-bottom: 1px solid;
          cursor: pointer;
          
          &:after {
            content: '';
            width: 8px;
            height: 8px;
            border: 0px;
            border-bottom: solid 2px #38374f;
            border-right: solid 2px #38374f;
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 50%;
            right: 2%;
            margin-top: -6px;
          }
          
          &:hover {
            background: rgba(244, 242, 247, 0.76);
            transition: 0.5s;
          }
          
          a {
            display: inline-block;
            width: 24px;
            height: 24px;
            cursor: pointer;
            vertical-align: middle;
            
            &:hover {
              background: #faff34;
              transition: .5s;
            }
          }
          
          p {
            display: inline-block;
            padding: 8px 5px;
            font-size: 1.4rem;
            font-weight: bold;
            vertical-align: middle;
          }
        }
        
        .detail {
          display: none;
          padding: 10px 0;
          
          p {
            margin-bottom: 8px;
            font-size: 1.2rem;
            line-height: 1.5;
            letter-spacing: 1px;
            
            .bold {
              display: block;
              font-weight: bold;
            }
            
            a {
              display: inline-block;
            }
          }
        }
        
        .open {
          display: block;
        }
      }
    }
  
    .return {
      padding-top: 32px;
      text-align: right;
    
      .link {
        font-size: 1.2rem;
        position: relative;
        
        .color {
          color: #C385F4;
          font-weight: bold;
        }
      
        &::before {
          position: absolute;
          top: 1.2em;
          right: 0;
          content: "";
          display: inline-block;
          width: 0;
          height: 1px;
          background: #7a787b;
          transition: .5s;
        }
      }
  
      .link:hover::before{
        width: 100%;
      }
    }
  }
}


.fuwafuwa {
  -webkit-animation-name:fuwafuwa;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease;

  -moz-animation-name:fuwafuwa;
  -moz-animation-duration:2s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:ease;
}

@-webkit-keyframes fuwafuwa {
  0% {-webkit-transform:translate(0, 0);}
  50% {-webkit-transform:translate(0, -10px);}
  100% {-webkit-transform:translate(0, 0);}
}
@-moz-keyframes fuwafuwa {
  0% {-moz-transform:translate(0, 0);}
  50% {-moz-transform:translate(0, -5px);}
  100% {-moz-transform:translate(0, 0);}
}

footer {
  padding: 8px 0;
  background-color: #F0EFF0;

  span {
    @extend .fontOswald;
    display: block;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-align: center;
  }
}

.block-revealer__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  pointer-events: none;
  opacity: 0;
}

.fadein {
  opacity : 0;
  transform : translate(0, 24px);
  transition : all 800ms;
}

.fadein.scrollin,
.skillFadein.skillScrollin,
.skillFadeinR.skillScrollin {
  display: block;
  opacity : 1;
  transition: all 1s;
  transform : translate(0, 0);
}

.skillFadein {
  display: block;
  opacity : 0;
  transform : translate(-80px, 0);
  transition : all 800ms;
}

.skillFadeinR {
  display: block;
  opacity : 0;
  transform : translate(80px, 0);
  transition : all 800ms;
}
