@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-feature-settings: "palt";
}


@media screen and (min-width: 374px) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 65%;
  }
}

@media screen and (min-width: 767px) {
  html {
    font-size: 85%;
  }
}

body {
  position: relative;
  font-size: 1.4rem;
  color: #18141B;
  background-color: #fff;
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
}

a {
  color: #18141B;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.fontOswald {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.5px;
}

.w80 {
  width: 80%;
  margin: 0 auto;
}

.w85 {
  width: 85%;
  margin: 0 auto;
}

.w90 {
  width: 90%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 55px;
  margin: 0 auto;
  padding: 20px 0;
  position: fixed;
  top: 0;
  background-color: #fff;
  box-shadow: 0 1px 8px -4px rgba(0,0,0,15);
  z-index: 10;


  ul {
    display: flex;
    justify-content: space-around;

    li {
      a {
        @extend .fontOswald;
        font-size: 16px;
        line-height: 1;
        text-align: center;
      }
    }
  }
}

.firstView {
  display: block;
  padding: 5% 0 30%;
  position: relative;

  .inner {
    overflow: hidden;
    position: relative;

    .titWrap {
      @extend .fontOswald;
      display: block;
      position: absolute;
      top: 30%;
      left: 8%;
      z-index: 2;

      h1 {
        padding-bottom: 4%;
        font-size: 3.8rem;
        font-weight: 300;
      }

      p {
        display: inline-block;
        font-size: 2rem;
        padding-left: 2%;
      }
    }

    .imgWrap {
      display: block;
      font-size: 0;
      float: right;
      z-index: 1;
    }
  }

  .scrollIcon {
    display: block;
    width: 10%;
    @include center_x(50%);
    bottom: 8%;
  }
}
.fuwafuwa {
  -webkit-animation-name:fuwafuwa;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease;

  -moz-animation-name:fuwafuwa;
  -moz-animation-duration:2s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:ease;
}

@-webkit-keyframes fuwafuwa {
  0% {-webkit-transform:translate(0, 0);}
  50% {-webkit-transform:translate(0, -10px);}
  100% {-webkit-transform:translate(0, 0);}
}
@-moz-keyframes fuwafuwa {
  0% {-moz-transform:translate(0, 0);}
  50% {-moz-transform:translate(0, -5px);}
  100% {-moz-transform:translate(0, 0);}
}

.profile {
  padding: 20% 0;

  .inner {
    position: relative;

    .imgWrap {
      margin-left: 0;
    }

    h2 {
      @extend .fontOswald;
      font-size: 5rem;
      font-weight: 300;
      position: absolute;
      top: 20%;
      right: 8%;
    }
  }


  .intro {
    padding: 10% 0;
    font-size: 1.4rem;
    line-height: 1.75;
    text-align: center;
    letter-spacing: 0.5px;

    span {
      color: #C385F4;
    }
  }

  h3 {
    @extend .fontOswald;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    position: relative;

    &::before {
      display: inline-block;
      content: '';
      width: 30px;
      height: 30px;
      background-image: url("#{$img_path}tit_motif.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .aboutMe {
    padding: 5% 0 10%;
    position: relative;

    &::after {
      content: '';
      display: inline-block;
      width: 40%;
      height: 1px;
      background-image: url("#{$img_path}dashed_line.png");
      background-repeat: repeat;
      background-position: left center;
      background-size: cover;
      @include center_x(50%);
      bottom: 0;
    }


    .text {
      padding: 5% 4% 0;
      font-size: 1.5rem;
      line-height: 1.6;
      letter-spacing: 1px;
    }
  }

  .works {
    dl {
      padding: 10% 4% 0;

      dt,dd {
        padding-left: 8%;
        font-size: 1.5rem;
        letter-spacing: 1px;
        position: relative;
      }

      dt {
        padding-bottom: 16px;

        &::before {
          @extend .fontOswald;
          display: inline-block;
          content: 'Q.';
          font-size: 2.5rem;
          font-weight: 300;
          position: absolute;
          top: -10px;
          left: 0;
        }
      }

      dd {
        padding-bottom: 24px;
        line-height: 1.6;

        &::before {
          @extend .fontOswald;
          display: inline-block;
          content: 'A.';
          font-size: 2.5rem;
          font-weight: 300;
          position: absolute;
          top: -12px;
          left: 0;
        }
      }
    }
  }
}

.skill {
  padding-bottom: 20%;
  background: linear-gradient(transparent 6%, #F4F2F7 0%);
  position: relative;

  .inner {
    overflow: hidden;
    position: relative;

    h2 {
      @extend .fontOswald;
      font-size: 5rem;
      font-weight: 300;
      position: absolute;
      top: 35%;
      left: 15%;
      z-index: 2;
    }

    .imgWrap {
      width: 70%;
      float: right;
      z-index: 1;
    }
  }

  .intro {
    padding: 10% 0;
    font-size: 1.4rem;
    line-height: 1.75;
    text-align: center;
    letter-spacing: 0.5px;
  }

  ul {
    li {
      width: 90%;
      padding: 15% 8%;
      border-top: 1px solid #18141B;
      border-bottom: 1px solid #18141B;
      background-color: #fff;

      &:not(:first-child) {
        margin-top: 20%;
      }

      &.right {
        margin-left: 10%;
        border-left: 1px solid #18141B;
      }

      &.left {
        border-right: 1px solid #18141B;
      }
    }
  }

  h3 {
    @extend .fontOswald;
    padding-bottom: 15px;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    position: relative;

    &::before {
      display: inline-block;
      content: '';
      width: 30px;
      height: 30px;
      background-image: url("#{$img_path}tit_motif.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  dl {
    dt {
      @extend .fontOswald;
      padding-bottom:10px;
      font-size: 1.8rem;
      letter-spacing: 1px;

      &::before {
        content: "";
        width: 32px;
        height: 32px;
        display: inline-block;
        @include bg_img_style(no-repeat, center, contain);
        position: relative;
        top: 0.5em;
      }

      &.html5::before {
        background-image: url("#{$img_path}icon_html5.png");
      }

      &.css3::before {
        background-image: url("#{$img_path}icon_css3.png");
      }

      &.sass::before {
        background-image: url("#{$img_path}icon_sass.png");
      }

      &.jquery::before {
        background-image: url("#{$img_path}icon_jquery.png");
      }

      &.wordPress::before {
        background-image: url("#{$img_path}icon_wordpress.png");
      }

      &.photoshop::before {
        background-image: url("#{$img_path}icon_photoshop.png");
      }

      &.illustrator::before {
        background-image: url("#{$img_path}icon_illustrator.png");
      }

      &.sketch::before {
        background-image: url("#{$img_path}icon_sketch.png");
      }

      &.mac::before {
        background-image: url("#{$img_path}icon_mac.png");
      }

      &.git::before {
        background-image: url("#{$img_path}icon_git.png");
      }

      &.slack::before {
        background-image: url("#{$img_path}icon_slack.png");
      }
    }

    dd {
      padding-bottom: 15px;
      font-size: 1.5rem;
      line-height: 1.6;
      letter-spacing: 1px;
    }
  }
}

.contact {
  padding: 15% 0;
  h2 {
    @extend .fontOswald;
    padding-bottom: 10%;
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 1px;
  }

  ul {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    li {
      padding: 5%;

      a {
        display: block;
      }
    }
  }
}

.goTop {
  padding-bottom: 8%;
  a {
    width: 15%;
    display: block;
    margin: 0 auto;
  }
}

footer {
  padding: 8px 0;
  background-color: #F0EFF0;

  span {
    @extend .fontOswald;
    display: block;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-align: center;
  }
}

.block-revealer__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  pointer-events: none;
  opacity: 0;
}

.fadein {
  opacity : 0;
  transform : translate(0, 24px);
  transition : all 800ms;
}

.fadein.scrollin {
  opacity : 1;
  transform : translate(0, 0);
}

.skillFadein {
  opacity : 0;
  transform : translate(-80px, 0);
  transition : all 800ms;
}

.skillFadeinR {
  opacity : 0;
  transform : translate(80px, 0);
  transition : all 800ms;
}

.skillFadein.skillScrollin,
.skillFadeinR.skillScrollin {
  opacity : 1;
  transform : translate(0, 0);
}